body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: blue;
    display: flex;
    width: 100%;
    color: white;
}

.troisp{

display: flex;
justify-content: space-around;

}

/* petit  */

@media (min-width: 320px) and (max-width: 640px){

    nav{

        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

.troisp{

width: 100%;

}

}


/*  intermediaier  */

@media (min-width:641px) and (max-width:1007px){


nav{
justify-content: space-evenly;

}

.troisp{

    border: red solid 3px;
    width: 30%;

}

}


/* grand */


@media (min-width:1008px){


nav{
    justify-content: space-evenly;
}


.troisp{

    border: red solid 3px;
    width: 20%;



}

}