body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: blue;
    display: flex;
    width: 100%;
    color: white;
}

.troisp{

display: flex;
justify-content: space-around;

}

/* petit  */

@media (min-width: 320px) and (max-width: 640px){

    nav{

        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

.troisp{

width: 100%;

}

}


/*  intermediaire  */

@media (min-width:641px) and (max-width:1007px){


nav{
justify-content: space-evenly;

}

.troisp{

    border: red solid 3px;
    width: 30%;

}

}


/* grand */


@media (min-width:1008px){


nav{
    justify-content: space-evenly;
}


.troisp{

    border: red solid 3px;
    width: 20%;



}

}

/* section 1 rouge */

.red1{

background-color: red;
width: 100%;
display: flex;



}



.red1>img{

    display: flex;
    position: absolute;
    

}


h1{
    color: white;
    display: flex;
    
    
}

.GWI{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    color: white;
    width: 100%;
}

/* petit 320px */

@media (min-width:320px) and (max-width:640px){


.red1{


height: 150px;

}

.red1>img{

height: 50px;
width: 50px;
margin-left: 40%;
margin-top: 5%;

}

.red1>h1{
    color: white;
    display: flex;
    margin-top: 80px;
    margin-left: 110px;
    font-size: 20px;
    
}

.GWI{

margin-top: 33%;
font-size: 10px;

}