body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: blue;
    display: flex;
    width: 100%;
    color: white;
}

.troisp{

display: flex;
justify-content: space-around;

}

/* petit  */

@media (min-width: 320px) and (max-width: 640px){

    nav{

        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

.troisp{

width: 100%;

}

}


/*  intermediaire  */

@media (min-width:641px) and (max-width:1007px){


nav{
justify-content: space-evenly;

}

.troisp{

    border: red solid 3px;
    width: 30%;

}

}


/* grand */


@media (min-width:1008px){


nav{
    justify-content: space-evenly;
}


.troisp{

    border: red solid 3px;
    width: 20%;



}

}

/* section 1 rouge */

.red1{

background-color: red;
width: 100%;
height: 230px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



}



.red1>img{

    display: flex;
   
    
    

}


h1{
    color: white;
    display: flex;
    
    
}

.GWI{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    color: white;
    width: 100%;
}

.white1>h1{
    color: black;
    position: absolute;
    display: flex;
}


.troisImg1{
    display: flex;
    position: absolute;
    z-index: -1;
    /* justify-content: space-between; */

}


/* red2 */



.red2{

display: flex;
position: absolute;
background-color: red;

}

.red2>:first-child{
    color: white;
}


.red2>p{
    color: white;
}

.red2>p{
   margin-left: 50px;
}

/* petit 320px */

@media (min-width:320px) and (max-width:640px){


.red1{


height: 150px;

}

.red1>img{

height: 50px;
width: 50px;
margin-left: 40%;
margin-top: 5%;

}

.red1>h1{
    color: white;
    display: flex;
    margin-top: 80px;
    margin-left: 110px;
    font-size: 20px;
    
}

.GWI{

margin-top: 33%;
font-size: 10px;

}

.white1>h1{

font-size: 15px;
margin-top: 20px;
margin-left: 110px;



}


.troisImg1{
    width: 30px;
    
}

.troisImg1>:first-child{
    margin-top: 50px;
    margin-left: 50px;
    height: 30px;
}

.troisImg1>:nth-child(2){
    margin-top: 50px;
    margin-left: 50px;
    height: 30px;

}

.troisImg1>:nth-child(3){
    margin-top: 50px;
    margin-left: 50px;
    height: 30px;


}


.troisImg2{
    width: 30px;
    display: flex;
    position: absolute;
    
}

.troisImg2>:first-child{
    margin-top: 100px;
    margin-left: 50px;
    height: 30px;
}

.troisImg2>:nth-child(2){
    margin-top: 100px;
    margin-left: 50px;
    height: 30px;

}

.troisImg2>:nth-child(3){
    margin-top: 100px;
    margin-left: 50px;
    height: 30px;

    
}


.red2{

    margin-top: 150px;
    
    }

}


/* intermediaire Tablet */


@media (min-width:768px) and (max-width: 1006px){


   nav{

    width: 60em;


   }

   .red1{
       width: 60em;
   }

.red1>img{
    width: 50px;
}

}


